/* 
    Document   : mainstyle
    Created on : 23-ene-2012, 21:26:00
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
	font-size: 12px;
	margin: 0;
}

.contenedor960 {
	width: 960px;	
	margin: 0 auto;
	overflow: hidden;
}
#head {
	background: url("../img/headBackgroundAristo.png") scroll 0 0 repeat-x transparent;
	height: 94px;
}
	#head span{
                font-family: Arial, Tahoma;
                float: left;
                margin-top: 15px;
                margin-left: 250px;
		color: white;
                font-weight: bold;
		font-size: 50px;
                text-shadow:
                1px 1px 0 #444,
                2px 2px 0 #444; /* CCC end of 2 level deep grey shadow */
/*                3px 3px 0 #444,
                4px 4px 0 #444,
                5px 5px 0 #444,
                6px 6px 0 #444; end of 4 level deep dark shadow  */
                -webkit-transition: all 0.12s ease-out;		/* Safari & Chrome */
                -moz-transition: all 0.12s ease-out;		/* Firefox */
                -o-transition: all 0.12s ease-out;		/* Opera */
        }
        #head span:hover{
 	/* CSS3 Transform Effect */
  	-webkit-transform: scale(1.2);     /* Safari & Chrome */
  	-moz-transform: scale(1.2);        /* Firefox */
  	-o-transform: scale(1.2);          /* Opera */
        }
	
	
/*	#head ul li a:hover{
		color: #92979D;
	}
	
	#head ul li a span{
			color: #606168;
			font-size: 12px;
			text-transform: lowercase;
			display: block;
			padding-right: 30px;
	}*/
